<header role="banner" class="navbar-top">
    <nav id="nav-global" class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-global-collapse">
                    <span class="sr-only">Main menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MnSCU ISRS</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-global-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{baseUrl}}/employeehome/secure/manageprofile.html">Profile</a></li>
                    <li><a href="{{baseUrl}}/employeehome/secure/userapps.html">Employee Home</a></li>
                    <li><a href="{{baseUrl}}/isrsweb/auth/isrsrpt" target="_blank">Reports</a></li>
                    <li><a href="https://itsmnscu.custhelp.com/app/ask" target="_blank">Contact Us</a></li>
                    <li><a href="{{logoutUrl}}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
